<div class="main" style=" margin-top: 10px;
display: flex;
justify-content: center;
align-items: center;
position: relative;">
    <div id="print" id="content" #content style=" display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;">
        <span class="name" style="position: absolute;
        width: 100%;
        top: 26%;
        left: 55%;
        font-size: 23px;
        font-family: 'Dancing Script', cursive" #pname>
            {{name}}
        </span>
        <img *ngIf="type === 'old'" src="../../assets/certificate2.png" alt="" height="550">
        <img *ngIf="type === 'new'" src="../../assets/certificate.jpg" alt="" height="550">
    </div>
</div>
<div class="print-btn">
    <button (click)="SavePDF(name)" mat-flat-button color="primary">Print</button>
</div>